<div class="upcoming-section">
<div class="row">
	<div class="col-md-4 col-md-offset-4">

   	  <%= form_for @user , :url => register_path, remote: 'true' do |f| %>
   	    <div class="form-group">
   	    <%= f.label 'Email' %>
     	  <%= f.email_field 'email', :class => 'form-control'  %>
     	</div>
     	<div class="form-group">
      	<%= f.label 'Nickname' %>
      	<%= f.text_field 'nickname', :class => 'form-control' %>
      </div>
			<div class="form-group">
      	<label>Amount in WCC</label>
				<input type="number" id="amount" value="1" min="1" required class="form-control"/>
      </div>
			<%= f.hidden_field 'wallet_address' %>
			<%= f.hidden_field 'private_key' %>
      	<%= f.submit 'Claim your token	', :class => 'btn btn-primary row' %>
				
    <% end %>

	</div>
</div>
</div>