<header>
  <div class="header-top-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="header-top-left">
            <ul>
              <li><a href="mailto:wccoin.test@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i> wccoin.test@gmail.com</a></li>
              <li><%= image_tag("american_flag.png") %>
                <a >English
                  <!-- <i class="fa fa-angle-down" aria-hidden="true"></i> -->
                </a>
                <!-- <ul>
                  <li><%= image_tag("vietnam_flag.png") %><a href="#">Vietnamese</a></li>
                </ul> -->
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="social-media-area">
            <nav>
              <ul>
                <li><a href="index.html#" class="active"><i class="fa fa-facebook"></i></a></li>
                <li class="log"><a href="<%= new_user_path %>"><i class="fa fa-sign-in" aria-hidden="true"></i> Claim Your Token</a></li>
                <!-- </ul> -->
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-middle-area menu-sticky">
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-sm-12 col-xs-12 logo">
          <a href="<%= root_path %>"><%= image_tag("logowhite.png") %></a>
        </div>
        <div class="col-md-10 col-sm-12 col-xs-12 mobile-menu">
          <div class="main-menu">
            <a class="rs-menu-toggle"><i class="fa fa-bars"></i>Menu</a>
            <nav class="rs-menu">
              <ul class="nav-menu">
                <li>
                  <a href="<%= root_path %>">Home</a>
                </li>
                <li>
                  <a href="<%= about_us_path %>">About us</a>
                </li>
                <li>
                  <a href="<%= how_to_bet_path %>">How to bet</a>
                </li>
                <li>
                  <a href="<%= top_100_path %>">Top 100</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
